ul {
  display: flex;
 right: inherit;
}

li {
  list-style-type: none;
  padding: 10px;
  position: relative;
}
.large {
  position: absolute;
  left: -9999px;
}
li:hover .large {
  left: 20px;
  top: -150px;
}
.large-image {
  border-radius: 3px;
   box-shadow: 1px 1px 2px 2px rgba(127, 127, 127, 0.15);;
}
h3{
  text-align: center;
}